<footer id="footer">
  <div class=" bg-color-primary-dark relative">
    <div class="container py-10">
      <div class="grid gap-10 md:grid-cols-3 pb-10">

        <!-- About App -->
        <div class="space-y-6">
          <span class="font-bold text-lg">About App</span>
          <p class="leading-relaxed">This Should Be Used To Tell A Story And Include Any Testimonials You Might Have About Your Product Or Service For Your Clients</p>
          <div class="flex gap-5 items-center">
               <p>Follow Us</p>
            <!-- Social links -->
            <a href="https://facebook.com" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-facebook-f cursor-pointer hover:text-color-secondary transition-all duration-300 ease-in-out"></i>
            </a>
            <a href="https://x.com" aria-label="Twitter" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-x-twitter cursor-pointer hover:text-color-secondary transition-all duration-300 ease-in-out"></i>
            </a>
            <a href="https://x.com" aria-label="YouTube" target="_blank" rel="noopener noreferrer">
               <i class="fa-brands fa-youtube cursor-pointer hover:text-color-secondary transition-all duration-300 ease-in-out"></i>
            </a>
            <a href="https://www.instagram.com/instagram" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
               <i class="fa-brands fa-instagram cursor-pointer hover:text-color-secondary transition-all duration-300 ease-in-out"></i>
            </a>
          </div>
        </div>

          <!-- Quick Links -->
          <div class="flex justify-between md:justify-around">
             <div class="space-y-6">
              <span class="font-bold text-lg">Quick Links</span>
              <ul class="space-y-3">
                <li class="underline hover:no-underline hover:text-color-secondary transition-all duration-300 ease-in-out cursor-pointer"><a href="/"></a>Home</li>
                <li class="underline hover:no-underline hover:text-color-secondary transition-all duration-300 ease-in-out cursor-pointer"><a href="#"></a>Features</li>
                <li class="underline hover:no-underline hover:text-color-secondary transition-all duration-300 ease-in-out cursor-pointer"><a href="#"></a>Testimonial</li>
                <li class="underline hover:no-underline hover:text-color-secondary transition-all duration-300 ease-in-out cursor-pointer"><a href="#"></a>Pricing</li>
                <li class="underline hover:no-underline hover:text-color-secondary transition-all duration-300 ease-in-out cursor-pointer"><a href="#"></a>Blog</li>
                <li class="underline hover:no-underline hover:text-color-secondary transition-all duration-300 ease-in-out cursor-pointer"><a href="#"></a>Contact</li>
              </ul>
             </div>
             <!-- Quick Links -->
             <div class="space-y-6">
              <span class="font-bold text-lg">Help</span>
              <ul class="space-y-3">
                <li class="underline hover:no-underline hover:text-color-secondary transition-all duration-300 ease-in-out cursor-pointer"><a href="#"></a>About Us</li>
                <li class="underline hover:no-underline hover:text-color-secondary transition-all duration-300 ease-in-out cursor-pointer"><a href="#"></a>Partners</li>
                <li class="underline hover:no-underline hover:text-color-secondary transition-all duration-300 ease-in-out cursor-pointer"><a href="#"></a>Career</li>
                <li class="underline hover:no-underline hover:text-color-secondary transition-all duration-300 ease-in-out cursor-pointer"><a href="#"></a>Reviews</li>
                <li class="underline hover:no-underline hover:text-color-secondary transition-all duration-300 ease-in-out cursor-pointer"><a href="#"></a>Terms & Conditions</li>
                <li class="underline hover:no-underline hover:text-color-secondary transition-all duration-300 ease-in-out cursor-pointer"><a href="#"></a>Help</li>
              </ul>
             </div>
           </div>

            <!-- Form -->
             <div class="space-y-6">
              <span class="font-bold text-lg">Newsletter</span>
              <p class="leading-relaxed">Subscribe With Email And Loads Of News Will Be Sent To You</p>
              <div class="flex items-center">
                <input class="w-3/4 text-color-grey bg-color-white p-2 lg:p-3 rounded-l-md focus-outline-none" placeholder="Enter Your Email">
                <button type="submit" class="bg-color-secondary px-4 py-2 lg:px-5 lg:py-3 rounded-r-md hover:opacity-90">
                  <i class="fa-solid fa-chevron-right"></i>
                </button>
              </div>
          </div>
      </div>
      <div class="flex justify-center pt-10 border-t border-color-grey">
        <p>2025 &copy; MoneyMate. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
  </div> 
  <!-- END/ wrapper -->
  
  <script src="js/main.min.js"></script>
  </body>
</html>
